@import "tailwindcss";

:root {
  --background: #202020;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'DotGothic16', sans-serif;
  margin: 0;
}

/* Custom scrollbar for retro feel */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border: 2px solid #000;
}
